# Configuration file

general {
    # Enables/Disables Netherstar Armor. [default: true]
    B:enableNetherstarArmor=true

    # Enables/Disables the Creation of Netherstars. [default: true]
    B:enableNetherstarCreation=true

    # Enables/Disables Netherstar Tools(Pickaxe, Axe, Shovel, Hoe, Sword). [default: true]
    B:enableNetherstarTools=true

    # Sets the Recipe for the Star Block to 3x3. Default is 2x2. [default: false]
    B:starBlock3x3=false
}


